<div class="row no-gutters flex-md-row mb-3 h-md-250 position-relative">
    <div class="col bg-white p-3 ml-2 mr-2 d-flex flex-column border rounded overflow-hidden shadow-sm">
        <h3 class="mb-0 text-center">{{orderCount.toDeliver}}</h3>
        <small class="d-inline-block text-secondary text-center">待发货</small>
        <a class="stretched-link" href="order.html?type=1"></a>
    </div>
</div>