<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>用户手机</th>
        <th>权限</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <td>{{id}}</td>
            <td>{{phone}}</td>
            <td>{{role}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>